<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.u15188.telastcc">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/quebra_galho"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InsereAnuncio"
            android:label="@string/title_activity_insere_anuncio"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.u15188.telastcc.MainActivity" />
        </activity>
        <activity
            android:name=".FavoresAtivos"
            android:label="@string/title_activity_favores_ativos"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.u15188.telastcc.MainActivity" />
        </activity>
        <activity
            android:name=".FiltrarFavores"
            android:label="@string/title_activity_filtrar_favores"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.u15188.telastcc.MainActivity" />
        </activity>
        <activity
            android:name=".login"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".perfil"
            android:label="@string/title_activity_perfil"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.u15188.telastcc.MainActivity" />
        </activity>
        <activity
            android:name=".Usuario"
            android:label="@string/title_activity_usuario"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>